@model IEnumerable<DACT.Models.MonAn>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div id="features" class="text-center">
        <div class="container">
            <div class="section-title">
                <h2>Menu</h2>
            </div>
            <div class="row">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-xs-12 col-sm-4">
                            <div class="features-item">
                                <h3>@item.TenMon</h3>
                                <img src="@item.Image" class="img-responsive" alt="">
                                <div class="menu-item-name">@item.GiaMon</div>
                                <div class="menu-item-name">@item.MoTa</div>
                                <button>Mua</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>*@

@*@if (Model != null)
{
    foreach (var item in Model)
    {

        <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <div alt="" class="u-align-center u-image u-image-circle u-image-contain u-image-1" data-image-width="940" data-image-height="626"></div>
                <h4 class="u-align-center u-text u-text-3"> @item.TenMon</h4>
                <p class="u-align-center u-text u-text-4"> Small-batch sourdough baguette.</p>
                <h5 class="u-align-center u-custom-font u-text u-text-font u-text-palette-5-base u-text-5">@item.GiaMon</h5>
            </div>
        </div>
    }
}*@







<section class="u-align-center u-clearfix u-white u-section-4" id="sec-d620">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1"> OUR SPECIALS</h2>
         <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">


                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                                <div alt="" class="u-align-center u-image u-image-circle u-image-contain u-image-1">

                                    <img src="@item.Image" style="height: 276px;
                                         width: 276px;
                                         background-position: 50% 50%;
                                         margin: 0 auto;">
                                </div>
                                <h4 class="u-align-center u-text u-text-3"> @item.TenMon</h4>
                                <p class="u-align-center u-text u-text-4"> @item.MoTa</p>
                                <h5 class="u-align-center u-custom-font u-text u-text-font u-text-palette-5-base u-text-5">@item.GiaMon VND</h5>
                                <a href="@Url.Action("AddToCart2", "ShoppingCart", new {id = item.MaMonAn})" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-base u-radius-50 u-btn-1">Mua</a>

                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>