<section class="u-clearfix u-section-2" id="carousel_1b58">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">
            SMART CANTEEN HUTECH<span style="font-weight: 400;">
                <span style="font-weight: 700;"> &nbsp;</span>
            </span>
        </h2>
        <p class="u-align-center u-text u-text-2"> Theo tinh thần "có thực mới vực được đạo", những món ẩm thực được ưa chuộng như trà sữa, bánh, café sữa,… luôn không thể thiếu được với nhiều bạn sinh viên trong ngày đến trường. Một chút caffein từ những món ăn nhỏ này cũng c​​ó thể sẽ mang đến cả động lực tinh thần lẫn thể chất cho HUTECH-ers trong ngày học dai dẳng, do vậy, các tiện ích ẩm thực cũng là điều cần thiết thú vị cho đường đến trường của các bạn.</p>
        <a href="@Url.Action("Index","Menu",new { area = "" })" class="u-active-white u-align-center u-border-3 u-border-active-palette-3-base u-border-hover-palette-3-base u-border-palette-3-base u-btn u-btn-round u-button-style u-hover-white u-palette-3-base u-radius-50 u-text-active-palette-3-base u-text-body-alt-color u-text-hover-palette-3-base u-btn-1">Xem Menu</a>
    </div>
</section>
<section class="u-align-left u-clearfix u-image u-section-3" id="sec-7b8e" data-image-width="1200" data-image-height="800">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-opacity u-opacity-70 u-palette-3-light-2 u-radius-50 u-repeater-item u-shape-round u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <span class="u-custom-item u-file-icon u-icon u-icon-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="~/ContentTEM/images/1531385.png" alt=""></span>
                        <h3 class="u-text u-text-1">CƠM</h3>
                        <p class="u-text u-text-2">Đa dạng các món cơm mang hương vị quen thuộc của bữa ăn gia đình</p>
                        <a href="@Url.Action("Category","Menu",new { id = 1 })" class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-btn-round u-button-style u-palette-3-base u-radius-50 u-text-body-alt-color u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" >Xem Thêm</a>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-opacity u-opacity-70 u-palette-3-light-2 u-radius-50 u-repeater-item u-shape-round u-list-item-2">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <span class="u-custom-item u-file-icon u-icon u-icon-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="~/ContentTEM/images/3084875.png" alt=""></span>
                        <h3 class="u-text u-text-3"> MÓN NƯỚC</h3>
                        <p class="u-text u-text-4">Đầy đủ các món nước đậm đà của bản sắc dân tộc</p>
                        <a href="@Url.Action("Category","Menu",new { id = 2 })" class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-btn-round u-button-style u-palette-3-base u-radius-50 u-text-body-alt-color u-btn-2"> Xem Thêm</a>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-opacity u-opacity-70 u-palette-3-light-2 u-radius-50 u-repeater-item u-shape-round u-list-item-3">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <span class="u-custom-item u-file-icon u-icon u-icon-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="~/ContentTEM/images/3014502.png" alt=""></span>
                        <h3 class="u-text u-text-5"> Cakes</h3>
                        <p class="u-text u-text-6">Nhiều loại bánh mì bổ dưỡng</p>
                        <a href="@Url.Action("Category","Menu",new { id = 3 })" class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-btn-round u-button-style u-palette-3-base u-radius-50 u-text-body-alt-color u-btn-3"> Xem Thêm</a>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-opacity u-opacity-70 u-palette-3-light-2 u-radius-50 u-repeater-item u-shape-round u-list-item-4">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <span class="u-custom-item u-file-icon u-icon u-icon-4"><img src="~/ContentTEM/images/737967.png" alt=""></span>
                        <h3 class="u-text u-text-7"> Cookies</h3>
                        <p class="u-text u-text-8">Và nhiều loại thức ăn nhanh.</p>
                        <a href="@Url.Action("Category","Menu",new { id = 4 })" class="u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-btn-round u-button-style u-palette-3-base u-radius-50 u-text-body-alt-color u-btn-4"> Xem Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-white u-section-4" id="sec-d620">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1"> OUR SPECIALS</h2>
        @*<p class="u-align-center u-text u-text-grey-70 u-text-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>*@
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1" style="padding: 90px 30px 50px;">
                        <div alt="" @*class="u-align-center u-image u-image-circle u-image-contain u-image-1"*@ @*data-image-width="940" data-image-height="626"*@>

                        </div>
                        <img src="~/ContentTEM/images/banhmi.png" />
                        <h4 class="u-align-center u-text u-text-3"> Bánh Mì Thịt</h4>
                        @*<p class="u-align-center u-text u-text-4"> Small-batch sourdough baguette.</p>*@
                        <h5 class="u-align-center u-custom-font u-text u-text-font u-text-palette-5-base u-text-5"> 20.000 VND</h5>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <div alt="" class="u-align-center u-image u-image-circle u-image-contain u-image-2" data-image-width="700" data-image-height="525"></div>
                        <h4 class="u-align-center u-text u-text-6">Phở Bò</h4>
                        @*<p class="u-align-center u-text u-text-7">Sample text. Click to select the Text Element.</p>*@
                        <h5 class="u-align-center u-custom-font u-text u-text-font u-text-palette-5-base u-text-8"> 32.000 VND</h5>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <div alt="" class="u-align-center u-image u-image-circle u-image-3" data-image-width="900" data-image-height="675"></div>
                        <h4 class="u-align-center u-text u-text-9">Cơm Sườn</h4>
                        @*<p class="u-align-center u-text u-text-10">Sample text. Click to select the Text Element.</p>*@
                        <h5 class="u-align-center u-custom-font u-text u-text-font u-text-palette-5-base u-text-11"> 32.000 VND</h5>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <div alt="" class="u-align-center u-image u-image-circle u-image-4" data-image-width="600" data-image-height="600"></div>
                        <h4 class="u-align-center u-text u-text-12">Hủ Tiếu</h4>
                        @*<p class="u-align-center u-text u-text-13">Sample text. Click to select the Text Element.</p>*@
                        <h5 class="u-align-center u-custom-font u-text u-text-font u-text-palette-5-base u-text-14"> 20.000 VND</h5>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                        <div alt="" class="u-align-center u-image u-image-circle u-image-contain u-image-5" data-image-width="1000" data-image-height="1000"></div>
                        <h4 class="u-align-center u-text u-text-15">Bún thịt nướng</h4>
                        @*<p class="u-align-center u-text u-text-16">Sample text. Click to select the Text Element.</p>*@
                        <h5 class="u-align-center u-custom-font u-text u-text-font u-text-palette-5-base u-text-17"> 32.000 VND</h5>
                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                        <div alt="" class="u-align-center u-image u-image-circle u-image-6" data-image-width="640" data-image-height="640"></div>
                        <h4 class="u-align-center u-text u-text-18">bún mọc</h4>
                        @*<p class="u-align-center u-text u-text-19">Sample text. Click to select the Text Element.</p>*@
                        <h5 class="u-align-center u-custom-font u-text u-text-font u-text-palette-5-base u-text-20"> 32.000 VND</h5>
                    </div>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Index","Menu",new { area = "" })" class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-base u-radius-50 u-btn-1">Xem menu</a>
    </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-white u-section-5" id="carousel_bec5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-center u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <img alt="" class="u-border-5 u-border-palette-3-base u-expanded-width u-image u-image-default u-image-1" data-image-width="920" data-image-height="613" src="~/ContentTEM/images/IMG_8188.jpg">
                        @*<h4 class="u-align-left u-text u-text-1">Our story</h4>*@
                        <p class="u-align-left u-text u-text-2">  HUTECH CANTEEN sẽ phục vụ liên tục 7 ngày trong tuần với hiệu suất phục vụ tối đa khoảng 80 người cùng một thời điểm. Nội thất HUTECH CANTEEN được thiết kế bắt mắt, thoáng mát, sạch sẽ như một nhà hàng thu nhỏ với đầy đủ các tiện nghi từ khu vực nhà bếp, khu trưng bày thức uống, bàn ghế, menu cùng các tiện ích và vật dụng trang trí khác. HUTECH CANTEEN phục vụ đa dạng các món ăn, thức uống từ món mặn, món xào, món canh, đến tráng miệng và thức uống do đầu bếp nhiều năm kinh nghiệm đứng bếp. Đặc biệt, thực đơn liên tục được cập nhật và thay đổi nhằm mang đến nhiều lựa chọn cho quý thầy cô..</p>
                    </div>
                </div>
                <div class="u-align-center u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img alt="" class="u-border-5 u-border-palette-3-base u-expanded-width u-image u-image-default u-image-2" data-image-width="919" data-image-height="613" src="~/ContentTEM/images/IMG_8139.jpg">
                        @*<h4 class="u-align-left u-text u-text-3">Our bread</h4>*@
                    <p class="u-align-left u-text u-text-4"> Nhân viên của cửa hàng được nhận xét là chuyên nghiệp, hoà đồng, không gian thì thân thiện, sản phẩm đa dạng và chất lượng. Với giá cả hợp lý, và thức ăn được đảm bảo vệ sinh an toàn thực phẩm. .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>